@font-face {
  font-family: "AktivGrotesk";
  font-weight: 700;
  font-style: normal;
  src: url("./Font/AktivGrotesk-Bold.otf") format("opentype");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 300;
  font-style: normal;
  src: url("./Font/AktivGrotesk-Light.otf") format("opentype");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 500;
  font-style: normal;
  src: url("./Font/AktivGrotesk-Medium.otf") format("opentype");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 400;
  font-style: normal;
  src: url("./Font/AktivGrotesk-Regular.otf") format("opentype");
}
