/* ANVÄND CLASS FÖR ATT OVERRIDE:A BOOTSTRAP!!! */
@media screen and (max-width: 1050px) {
  .body {
    width: 100vw;
    /* height: 100vh; */
    background-color: black;
    font-family: "AktivGrotesk";
    color: white;
  }

  /* Navbar */
  .navbar {
    width: 100vw;
    height: 56px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1000;
  }

  nav {
    height: 56pt;
    width: 100vw;
    margin: 0;
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
  }
  nav .extra {
    width: 60px;
  }
  nav img {
    width: 60px;
  }

  /* Burgermenu and animation */
  #nav-icon1 {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg) scale(0.5);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: black;
    border: none;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 18px;
    background: #10fbfc;
  }

  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  /* Styling and animation of the two content divs */
  .menu-selector {
    width: 0;
    height: 100vh;
    top: 56px;
    right: 0;
    background-color: black;
    position: fixed;
    z-index: 500;
    pointer-events: none;
    transition: 0.5s;
  }

  .index-selector {
    width: 100%;
    height: 100%;
    top: 0;
    position: relative;
  }

  .display {
    width: 100vw;
    opacity: 1;
    pointer-events: all;
  }

  /* Menu */
  .menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
  }
  .shortcuts {
    height: 60%;
    display: flex;
    margin: 20pt 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 14pt;
  }
  .shortcuts a {
    margin: 40pt 0 0 0;
    color: white;
  }
  .lang {
    display: flex;
    flex-direction: row;
    margin-bottom: 56px;
    bottom: 0;
  }
  .lang button {
    width: 50vw;
    height: 93px;
    margin: 0;
    color: white;
    background-color: black;
    border: solid 1px #1d1d1d;
    font-weight: 700;
  }

  /* Main content */
  p {
    font-size: 20px;
  }

  .first-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("images/Mobile/Img_1_Mobile.png");
    background-size: cover;
  }

  .scroll-down {
    width: 100%;
    margin-bottom: 106px;
    display: flex;
    justify-content: center;
    margin-top: 95%;
  }

  .second-page {
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("images/Mobile/Img_2_Mobile.png");
    background-size: cover;
  }

  .third-page {
    width: 100%;
    height: 100vh;
    background-image: url("images/Mobile/Img_3_Mobile.png");
    background-size: cover;
  }

  .fourth-page {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .content-box {
    margin-left: 16px;
    margin-right: 16px;
  }

  .fifth-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .fifth-page .headline-text {
    padding-top: 32px;
    margin-left: 16px;
    margin-top: 0;
  }
  .fifth-page .content-box {
    padding-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
  }

  .read-more-button {
    margin-top: 24px;
    margin-left: 16px;
    margin-bottom: 56px;
    font-size: 14px;
  }
  .read-more-button p {
    font-size: 14px;
    display: inline-block;
    border-bottom: 1px solid white;
  }

  .sixth-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sixth-page .headline-text {
    width: 90vw;
    padding-top: 32px;
    margin-left: 16px;
    margin-top: 0;
  }
  .sixth-page .content-box {
    padding-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
  }

  .seventh-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .seventh-page .headline-text {
    padding-top: 32px;
    margin-left: 16px;
    margin-top: 0;
  }
  .seventh-page .content-box {
    padding-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
  }

  .eight-page {
    width: 100%;
    display: grid;
  }
  .eight-page .headline-text {
    width: 80vw;
    padding-top: 32px;
    margin-left: 16px;
    margin-top: 0;
  }
  .eight-page .content-box {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
    grid-row: 2 / 3;
  }
  .eight-page .content-img-performance {
    grid-row: 1 / 2;
  }
  .eight-page .read-more-button {
    margin-bottom: 0;
    padding-bottom: 60px;
  }

  .headline {
    width: 120px;
    padding-top: 96px;
    margin-left: -10px;
    font-size: 56px;
    font-weight: 700;
    line-height: 0.9;
  }
  .headline h2 {
    border-left: 2px solid #10fbfc;
    padding-left: 10px;
    font-size: 56px;
    font-weight: 700;
  }
  .content-wrapper-fs {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
  }
  .content-wrapper-fs .headline-text {
    margin-top: 32px;
    margin-left: 16px;
    padding-top: 0;
  }
  .content-wrapper-fs .content-box {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 64px;
    padding-top: 0;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .content-wrapper-newsletter {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }

  .headline-text {
    width: 120px;
    font-size: 32px;
    padding-top: 96px;
    margin-left: 64px;
    font-weight: 700;
  }

  .content-box {
    font-size: 16px;
  }

  .newsletter-button {
    width: 344px;
    height: 40px;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 64px;
    border: 1px solid white;
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: bold;
  }

  .pil-ner {
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 16px;
  align-self: center;
}


  .content-img {
    width: 100%;
    height: 310px;
    background-image: url("images/Mobile/Img_4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .content-img-performance {
    width: 100%;
    height: 310px;
    background-image: url("images/Mobile/Img_5.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .content-img-adventure {
    width: 100%;
    height: 310px;
    background-image: url("images/Mobile/Img_6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* .content-img-sustainable {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  } */

  .subscribe-email {
    width: 90%;
    border-bottom: 1px solid white;
    margin: 10px;
  }

  .subscribe-button {
    border: 1px solid white;
    width: 65%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  /* Fade in text block start: */

  .fade-in {
    background-color: black;
    display: flex;
    width: 100vh;
    flex-direction: column;
    color: white;
    font-family: Helvetica;
  }

  .content ul li {
    list-style-type: none;
    position: relative;
    width: 80vw;
    margin: 0 auto;
    /* padding-top: 50px; */
    display: flex;
    /* text-align: right; */
  }

  .content ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    position: relative;
    /* change the margin here below:  */
    margin-left: -10px;
    display: flex;
    flex-direction: column;
  }

  .content ul li div::before {
    position: relative;
    /* top: 30px; */
    width: 100px;
    height: 1px;
  }

  .content ul li .right {
    width: 80vw;
    text-align: left;
    transform: translate3d(-300px, 0, 0);
  }

  .in-view {
    width: 100vh;
  }

  .content ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  /* signup style */

  p {
    margin-bottom: 0;
  }
  .contact {
    height: 100vh;
    width: 100vw;
    display: grid;
  }
  .contactinfo {
    margin-left: 10px;
    margin-bottom: 0px;
  }

  h2.contactinfoh2 {
    padding-top: 96px;
    margin-left: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 32px;
  }
  p {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .visit {
    margin-top: 36px;
    margin-left: 10px;
  }

  .infoimg {
    height: 280px;
    background-image: url("images/Mobile/Img_7.jpg");
    background-size: cover;
  }

  .infotext h1 {
    font-size: 32px;
    margin-top: 36px;
    margin-left: 16px;
  }
  .infotext p {
    font-size: 16px;
    margin-top: 16px;
    margin-left: 16px;
    line-height: 30px;
  }

  /* formstyle */
  #signup {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-control {
    padding: 0;
    background-color: black;
    text-decoration: underline;
    text-decoration-color: white;
    border: none;
    opacity: 1;
    color: rgba(255, 255, 255, 1);
  }
  /* ::placeholder{
  background-color: black;
  color: white;
  opacity: 1;
} */
  ::-webkit-input-placeholder {
    color: white;
  }
  .name {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .email {
    width: 338px;
    border-bottom: 1px solid white;
  }
  .firstname {
    width: 164px;
    margin-right: 10px;
    border-bottom: 1px solid white;
  }
  .lastname {
    width: 164px;
    border-bottom: 1px solid white;
  }

  .sign-up {
    height: 40px;
    padding: 8px;
    margin-top: 40px;
    margin-bottom: 64px;
    border: 1px solid white;
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: bold;
  }
  .pil-hoger-bottom {
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    margin-left: 16px;
    align-self: center;
  }

  /* footer menu start */
  .footermenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .to-top {
    text-align: center;
    margin-top: 26px;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
  }
  .footermenu-content {
    padding-top: 46px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footermenu-content a {
    padding-top: 15px;
    color: white;
  }
  .socialmedia {
    margin-top: 36px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .socialmedia-content {
    width: 35px;
    height: 35px;
    margin-right: 12px;
    margin-left: 12px;
  }
  .fb {
    background-image: url("iconer/iconmonstr-facebook-1.svg");
  }
  .in {
    background-image: url("iconer/iconmonstr-instagram-11.svg");
  }
  .li {
    background-image: url("iconer/iconmonstr-linkedin-1.svg");
  }
  .tw {
    background-image: url("iconer/iconmonstr-twitter-1.svg");
  }
  .yt {
    background-image: url("iconer/iconmonstr-youtube-6.svg");
  }

  .copyright {
    margin-top: 36px;
  }
  .copyright p {
    font-size: 10px;
    margin-bottom: 0;
  }
  .legal {
    margin-top: 36px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .legal h3 {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
  }
  .wordmark {
    margin-top: 36px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .wordmark h3 {
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
  }
}
@media screen and (min-width: 1050px) {
  body {
    background-color: black;
    color: white;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
  }

  /* Navbar */
  .navbar {
    width: 100vw;
    height: 56px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1000;
  }

  nav {
    height: 56pt;
    width: 100vw;
    margin: 0;
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
  }
  nav .extra {
    width: 24pt;
  }
  nav img {
    width: 60px;
  }

  /* Styling and animation of the two content divs */
  .menu-selector {
    width: 0;
    height: 100vh;
    top: 56px;
    right: 0;
    background-color: black;
    position: fixed;
    z-index: 500;
    pointer-events: none;
    transition: 0.5s;
  }

  .index-selector {
    width: 100%;
    height: 100%;
    top: 0;
    position: relative;
  }

  .display {
    width: 100vw;
    opacity: 1;
    pointer-events: all;
  }

  /* Burgermenu and animation */
  #nav-icon1 {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg) scale(0.5);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: black;
    border: none;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 18px;
    background: #10fbfc;
  }

  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  /* Menu */
  .menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
  }
  .shortcuts {
    height: 60%;
    display: flex;
    margin: 20pt 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 14pt;
  }
  .shortcuts a {
    margin: 40pt 0 0 0;
    color: white;
  }
  .lang {
    display: flex;
    flex-direction: row;
    margin-bottom: 56px;
    bottom: 0;
  }
  .lang button {
    width: 50vw;
    height: 93px;
    margin: 0;
    color: white;
    background-color: black;
    border: solid 1px #1d1d1d;
    font-weight: 700;
  }

  .first-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("images/Desktop/Img_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    scroll-snap-align: start;
  }
  .scroll-down {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 500px;
  }
  .second-page {
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("images/Desktop/Img_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    scroll-snap-align: start;
  }
  .third-page {
    width: 100%;
    height: 100vh;
    background-image: url("images/Desktop/Img_3.png");
    background-size: cover;
    background-repeat: no-repeat;
    scroll-snap-align: start;
  }
  .fourth-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
  }
  .content-wrapper-fs {
    margin-top: 90pt;
    font-size: 48pt;
    font-weight: 700;
  }
  .content-box {
    margin-top: 14pt;
    font-size: 18pt;
    width: 56%;
  }
  .newsletter-button {
    width: 344px;
    height: 40px;
    padding: 8px;
    margin-top: 40pt;
    margin-bottom: 96pt;
    border: 1px solid white;
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: bold;
  }

  .newsletter-button:hover {
    background-color: white;
    color: black;
  }


  .pil-ner {
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 16px;
  align-self: center;
}

.newsletter-button .pil-ner{
transition: all 0.1s ease-in-out;
}

  .newsletter-button:hover .pil-ner {
  transform: translateY(4px);
  color: black;
}

  .fifth-page {
    width: 100%;
    margin-bottom: 96px;
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 1fr;
  }
  .fifth-page .content-img {
    width: 100%;
    height: 556pt;
    grid-column: 1 / 3;
    margin-bottom: 96pt;
    background-image: url("images/Desktop/Img_4.jpg");
    background-size: cover;
    background-position: center;
  }
  .fifth-page .content-img-performance {
    height: 556pt;
    background-image: url("images/Desktop/Img_5.jpg");
    background-size: cover;
    background-position: center;
  }
  .fifth-page .content-wrapper {
    margin-top: 90pt;
    font-size: 48pt;
    align-content: center;
    justify-items: center;
  }
  .fifth-page .headline-text {
    padding-top: 144px;
    font-weight: 700;
    margin-left: 10%;
    margin-top: 0;
  }
  .fifth-page .content-box {
    padding-top: 16px;
    margin-left: 10%;
    margin-right: 16px;
    width: 68%;
    margin-top: 0;
  }
  .read-more-button {
    margin-top: 24px;
    margin-left: 10%;
    margin-bottom: 56px;
    font-size: 14px;
  }
  .read-more-button p {
    font-size: 14px;
    display: inline-block;
    /* border-bottom: 1px solid white; */
    font-weight: 700;
  }

  .read-more-button p:hover {
    font-size: 14px;
    display: inline-block;
    border-bottom: 1px solid white;
  }

  .pil {
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    margin-left: 7.59px;
  }

  .pil.active{
   transform: translateX(16px);
   transition: all 0.1s ease-in-out;
  }

  .arrow {
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 14px;
  }

  .arrow.move {
  transform: translateY(-8px);
  transition: all 0.1s ease-in-out;
  }

  .sixth-page {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    scroll-snap-align: start;
    margin-bottom: 96px;
  }
  .sixth-page .content-wrapper {
    padding-top: 144px;
    margin-left: 10%;
    margin-top: 0;
  }
  .sixth-page .content-img-adventure {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 556pt;
    background-image: url("images/Desktop/Img_6.jpg");
    background-size: cover;
    background-position: center;
  }
  .sixth-page .headline-text {
    font-size: 48pt;
    font-weight: 700;
    margin-top: 0;
  }
  .sixth-page .content-box {
    width: 50%;
    padding-top: 16px;
    margin-right: 16px;
    margin-top: 0;
  }
  .sixth-page .read-more-button {
    margin-left: 0;
  }
  .seventh-page {
    width: 100%;
    width: 100%;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: start;
  }
  .seventh-page .headline-text {
    font-size: 48pt;
    font-weight: 700;
  }
  .seventh-page .content-img-sustainable {
    height: 556pt;
    background-image: url("images/Desktop/Img_7.jpg");
    background-size: cover;
    background-position: center;
  }
  .seventh-page .content-wrapper {
    margin-top: 170px;
    margin-left: 10%;
  }
  .seventh-page .read-more-button {
    margin-left: 0;
  }
  .eight-page {
    width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: start;
  }
  .eight-page .headline-text {
    font-size: 48pt;
    font-weight: 700;
  }
  .eight-page .content-img-performance {
    height: 556pt;
    background-image: url("images/Desktop/Img_8.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .eight-page .content-wrapper {
    margin-top: 170px;
    margin-left: 10%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  .eight-page .read-more-button {
    margin-left: 0;
  }

  .headline {
    width: 420px;
    padding-top: 96px;
    margin-left: 150px;
    font-size: 104px;
    line-height: 0.9;
  }
  .headline h2 {
    border-left: 4pt solid #10fbfc;
    padding-left: 10px;
    font-size: 104px;
    font-weight: 700;
  }

  /* Fade in text block start: */

  .fade-in {
    background-color: black;
    display: flex;
    width: 100vh;
    flex-direction: column;
    color: white;
    font-family: Helvetica;
  }

  .content ul li {
    list-style-type: none;
    position: relative;
    width: 80vw;
    margin: 0 auto;
    /* padding-top: 50px; */
    display: flex;
    /* text-align: right; */
  }

  .content ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    position: relative;
    /* change the margin here below:  */
    margin-left: -10px;
    display: flex;
    flex-direction: column;
  }

  .content ul li div::before {
    position: relative;
    /* top: 30px; */
    width: 100px;
    height: 1px;
  }

  .content ul li .right {
    width: 80vw;
    text-align: left;
    transform: translate3d(-300px, 0, 0);
  }

  .in-view {
    width: 100vh;
  }

  .content ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  /* signup style */

  p {
    margin-bottom: 0;
  }
  .contact {
    width: 56%;
    margin-top: 100px;
    margin-bottom: 122px;
    margin-left: 22.22%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .contactinfo {
    margin-left: 0;
    grid-column: 1/2;
    grid-row: 2/2;
  }
  .contactmail{
    margin-left: 0;
    margin-top: 30px;
    grid-column: 1/2;
    grid-row: 2/2;

  }

  h2.contactinfoh2 {
    padding-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 48px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .visit {
    margin-top: 0;
    margin-left: 0;
    grid-column: 2/2;
    grid-row: 2/2;
  }

  .infoimg {
    width: 100vw;
    height: 556px;
    margin-top: 96px;
    background-image: url("images/Desktop/Img_8.jpg");
    background-size: cover;
    background-position: center;
  }

  .infotext {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .infotext h1 {
    width: 56%;
    font-size: 48px;
    margin-top: 36px;
    margin-left: 16px;
    font-weight: 700;
  }
  .infotext p {
    width: 56%;
    font-size: 18px;
    margin-top: 16px;
    margin-left: 16px;
    line-height: 30px;
  }

  /* formstyle */
  #signup {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-control {
    padding: 0;
    background-color: black !important;
    text-decoration: underline;
    text-decoration-color: white !important;
    border: none;
    opacity: 1 !important;
    color: rgba(255, 255, 255, 1) !important;
  }
  ::placeholder{
  background-color: black;
  color: white !important;
  opacity: 1 !important;
}
  ::-webkit-input-placeholder {
    color: white;
  }
  .col-lg-6 {
    width: 56% !important;
    flex-basis: 56% !important;
  }
  .name {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .email {
    width: 100%;
    border-bottom: 1px solid white;
  }
  .firstname {
    width: 48%;
    margin-right: 4%;
    border-bottom: 1px solid white;
  }
  .lastname {
    width: 48%;
    border-bottom: 1px solid white;
  }

  .sign-up {
    height: 40px;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 64px;
    border: 1px solid white;
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: bold;
  }
  .sign-up:hover {
    background-color: white;
    color: black;
  }
  .pil-hoger-bottom {
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-left: 16px;
    align-self: center;
    justify-content: center;
  }
  .sign-up .pil-hoger-bottom {
    transition: all 0.1s ease-in-out;
  }
  .sign-up:hover .pil-hoger-bottom {
    transform: translateX(8px);
    color: black;
  }

  /* footer menu start */
  .footermenu {
    width: 80vw;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr ;
  }
  .to-top {
    text-align: center;
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
    color: white;
    grid-column: 4/5;
    grid-row: 1/2;
  }

  a:hover {
    color: white;
  }

  .footermenu-content {
    padding-top: 0;
    display: flex;
    align-items: left;
    flex-direction: column;
    grid-column: 0/5;
    grid-row: 1/2;
    font-size: 16px;
    font-weight: 700;
  }
  .footermenu-content a {
    padding-bottom: 15px;
    color: white;
    text-transform: uppercase;
  }
  .socialmedia {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .socialmedia-content {
    width: 35px;
    height: 35px;
    margin-right: 12px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 700;
  }
  .fb {
    background-image: url("iconer/iconmonstr-facebook-1.svg");
  }
  .in {
    background-image: url("iconer/iconmonstr-instagram-11.svg");
  }
  .li {
    background-image: url("iconer/iconmonstr-linkedin-1.svg");
  }
  .tw {
    background-image: url("iconer/iconmonstr-twitter-1.svg");
  }
  .yt {
    background-image: url("iconer/iconmonstr-youtube-6.svg");
  }

  .copyright {
    margin-top: 0;
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .copyright p {
  font-size: 14px;
  font-weight: 700;
    margin-bottom: 0;
    margin-top: 24px;
  }
  .legal {
    margin-top: 0;
    grid-column: 2/5;
    grid-row: 1/1;
  }
  .legal h3 {
    margin-left: 4px;
    margin-right: 4px;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 700;
  }
  .leagal-line{
    display: none;
  }
  .wordmark {
    margin-top: 26px;
    display: flex;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .wordmark h3 {
    margin-right: 4px;
    display: flex;
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    -ms-flex: 0 0 56%;
    flex: 0 0 56%;
    max-width: 56%;
  }
}
