*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: black;
  padding-bottom: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white;
  font-family: Helvetica;
}


/* STORYSECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.story {
  /* color: var(--h1-color); */
  /* font-family: "IBM Plex Sans"; */
  font-size: 23px;
}

p {
  /* color: var(--txt-color); */
  width: 120px;
  font-family: "Light";
  font-size: 16px;
}

.content ul li {
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 auto;
  padding-top: 50px;
  /* background: #FFFFFF; */
  display: flex;
}

.content ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.content ul li div::before {
  position: absolute;
  top: 30px;
  width: 100px;
  height: 1px;
  background: #FFFFFF;
}

.content ul li .right {
  left: 50px;
  text-align: right;
  transform: translateY(200px);
}

.content ul li .right::before {
  left: 50px;
}

.content ul li .left {
  left: 50px;
  text-align: left;
  transform: translateY(200px);
}


.content ul li .left {
  left: -200px;
  text-align: left;
  transform: translateY(200px);
}

.content ul li .left::before {
  left: 50px;
}

.content ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  /* .content ul li div {
    width: 250px;
  }
  .content ul li .left div {
    left: -289px;
  } */
}

@media screen and (max-width: 600px) {
  .content ul li .right {
    left: 30px;
  }

  .content ul li .right::before {
    left: -30px;
  }

  .content ul li .left {
    left: -180px;
  }

  .content ul li .left::before {
    left: 80px;
  }
}
